* {
  font-family: "Roboto", sans-serif;
}

.center {
  margin: 0 auto;
}

.width-50 {
  width: 50%;
}

.width-70 {
  width: 70%;
}

.secmargin {
  margin-bottom: 100px;
}

.bg-white {
  background-color: #fff;
}

@media (max-width: 768px) {
  .section-header {
    width: 70%;
  }
}

.section-header h4 {
  font-family: "Courgette", cursive;
}

.section-header h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 20px;
  border-bottom: 3px solid #f38181;
}

html {
  scroll-behavior: smooth;
}

.main-header .navbar-dark a {
  color: #fff !important;
}

.main-header .active {
  background-color: #95e1d3;
  border-radius: 0.5em;
}

.carousel {
  position: relative;
}

.carousel .hero-header {
  position: absolute;
  top: 10vw;
  left: 30vw;
  width: 40%;
}

@media (max-width: 1100px) {
  .carousel .hero-header h1 {
    font-size: 5em;
  }
}

@media (max-width: 992px) {
  .carousel .hero-header {
    width: 60%;
    left: 20vw;
  }
  .carousel .hero-header h1 {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  .carousel .hero-header {
    width: 60%;
    left: 20vw;
  }
  .carousel .hero-header h1 {
    font-size: 3em;
  }
}

@media (max-width: 667px) {
  .carousel .hero-header button {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel .hero-header h1 {
    font-size: 2em;
  }
  .carousel .hero-header button {
    display: none;
  }
}

.carousel h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 20px;
  border-bottom: 3px solid white;
}

.carousel button {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
}

.carousel button:hover {
  background-color: white;
  color: #f38181;
}

.about img {
  width: 100%;
}

.about .img-container {
  width: 100%;
  position: relative;
}

.about .img-container:hover {
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
          box-shadow: 10px 10px 0px 0px #95e1d3;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.about .img-container:hover .overlay {
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.about .img-container:hover .overlay-text {
  opacity: 1;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.about .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9d183), to(#e47e7d));
  background: linear-gradient(0deg, #e9d183 0%, #e47e7d 100%);
  opacity: 0;
}

.about .img-container .overlay-text {
  opacity: 0;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 35%;
  left: 15%;
}

.about .img-container .overlay-text i {
  font-size: 2em;
}

.numbers {
  background-color: #95e1d3;
}

@media (min-width: 1100px) {
  .mycol {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

.services .media i {
  font-size: 2em;
  color: #95e1d3;
}

.what-we-do .accordion .card-header {
  background-color: transparent;
}

.what-we-do .accordion .card-header button {
  color: #232323;
}

.what-we-do .accordion .card-header i {
  color: #95e1d3;
  font-size: 1.5em;
}

.what-we-do .accordion .card-body {
  height: 157px;
  overflow: auto;
}

.design {
  background-image: url(../images/designBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 860px;
  position: relative;
}

.design figure {
  position: absolute;
  top: 470px;
  left: 54vw;
  display: block;
}

@media (max-width: 678px) {
  .design figure {
    display: none;
  }
}

.team .person img {
  width: 100%;
}

.team .img-container {
  width: 100%;
  position: relative;
}

.team .img-container:hover {
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
          box-shadow: 10px 10px 0px 0px #95e1d3;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.team .img-container:hover .overlay {
  opacity: 0.8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.team .img-container:hover .overlay-text {
  opacity: 1;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.team .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9d183), to(#e47e7d));
  background: linear-gradient(0deg, #e9d183 0%, #e47e7d 100%);
  opacity: 0;
}

.team .img-container .overlay-text {
  color: #f38181;
  opacity: 0;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .img-container .overlay-text .icon-container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 9px;
}

.team .img-container .overlay-text .icon-container:hover {
  color: white;
  background-color: #f38181;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.team .img-container .overlay-text i {
  font-size: 2em;
}

.team .brands {
  background-color: #f8f8f8;
}

@media (max-width: 678px) {
  .team .brands {
    display: none;
  }
}

.team .brands img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 987px) and (min-width: 768px) {
  .team .brandcol {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.work img {
  width: 100%;
}

.quote h5:before {
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 30px;
  padding-top: 20px;
  border-bottom: 3px solid #f38181;
}

@media (max-width: 768px) {
  .quote img {
    display: none;
  }
}

.quote .icon-prev {
  color: red;
}

.testimonails {
  background-image: url(../images/testimonailsBG.jpg);
  background-position: center;
  background-size: cover;
}

.testimonails .media span:after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 5px;
  border-bottom: 3px solid #f38181;
}

.blog {
  position: relative;
}

.blog .tag {
  background-color: #95e1d3;
  width: 60px;
  position: absolute;
  top: 6vw;
  left: -15px;
  display: inline-block;
}

@media (max-width: 992px) {
  .blog .tag {
    display: none;
  }
}

.blog .card i {
  margin: 0 7px;
  color: #95e1d3;
}

.blog .tag .inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  color: #f38181;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-size: cover;
}

.map i {
  font-size: 2em;
}

.map h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-top: 20px;
  border-bottom: 3px solid #f38181;
}

.main-footer h2 {
  color: #a8a8a8;
}

.main-footer ul {
  display: inline;
}

.main-footer ul li {
  display: inline;
  margin-right: 5px;
}

.main-footer ul a {
  color: #95e1d3;
}

.main-footer ul a:hover {
  color: #57beab;
}

.main-footer form .inp {
  width: 60%;
}

.main-footer form .btn {
  background-color: #95e1d3;
  color: white;
}

.main-footer form .btn:hover {
  background-color: #57beab;
}

.main-footer .inst .row div {
  height: 100px;
  width: 120px;
  padding: 3px;
}

.main-footer .inst .row div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */